
.row{
    margin-right:0;
}
#heading{
    background-color:#464646;
    height:120px;
    box-shadow: 0 10px 50px  #000000;
    position:fixed;
    z-index:10;

}
.content{
    padding:150px 0 0 0;
}

#Logo{
    margin-top:10px;
}
.sign-in-button{
    background-color:#a1a194;
   border:none;
   color:#a90641;
   margin:31px 10px;
   font-size:large;
   font-family: Helvetica, sans-serif;
   border-radius:7px;
}
.sign-in-button:hover{
    color:#a1a194;
    background-color:#a90641;
}

.login-btns{
    float:right;
    margin:0 auto;
}
#welcome-logo{
    width:200px;
    margin:0 auto;
}

.welcome-sign-up-btn{
    background-color:#a90641;
}

.welcome-sign-up-btn:hover{
    background-color:#464646;
    border-color:#464646;
}

.search-box{
    max-width: 70%;
    display:inline;
    
   
}
.welcome-search{
    background-color:#5b605f;

}

.btn-search{
    display:inline-block;
    margin:0 auto;
    background-color:#a90641;
    border-color:#a90641;
   
    
}
.jumbotron{
    margin:0 auto;
}
#search-text{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.game-name{
    font-weight:bold;
}
.game-type{
    color:#a90641;
}
.hours{
    color:#a90641;
}
.game-name a{
    color:#464646;
}
.game-name a:hover{
    text-decoration:none;
    color:#a90641
}
.playing{
    background-color:#464646;
}
#gaming-heading{
    color:white;
    margin-bottom:30px;
}
#player-name{
    color:white;
    
}
#played-game-name{
    color:white;
    font-size:90%;
}
.player-img{
    display:inline-block;
    width:100px;
    
}
.trending-game{
    margin:20px 0;
}

.map-link{
    display:block;
    color:#464646;
}
.map-link:hover{
    text-decoration:none;
    font-weight:bold;
    color:#a90641;
}
.footer-logo{
    
    margin:30px 45%;
    width:100px;
}

.user-pp{
    max-width:100px;
    display:inline-block;
    float:right;
    padding:20px 0 5px 0 ;
}
.user-name{
    color:#a1a194;
    padding:33px 5px 5px 0;
    display:inline;
    float:right;
}
.notification{
    color:#a1a194;
    padding:50px 10px 5px 0;
    display:inline;
    float:right;
    font-size:2em;
}

.navbar{
    margin-bottom:0;
}
.nav-recommended  {
    list-style-type:none;
}
.nav-recommended li{
    display:inline;
    padding:5px;
}
.nav-recommended li a{
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    color:#464646;
    font-weight:bold;
}
.nav-recommended li a:hover{
    color:#a1a194;
    text-decoration:none;
}
.nav-recommended li a:active{
    color:#a90641;
}
.nav-recommended li a:focus{
    color:#a90641;
    text-decoration:none;
}

.profile-picture{
    width:170px;
    margin-top:10px;
    
    border: 2px solid #a90641;
    margin:10px auto;
    
}
.profile-user-name{
    /*padding-top:30px;*/
    
    
}
.compatability-pic{
    width:100px;
    border:solid 3px #a90641;
    border-radius:50%;
    margin:0 auto;
    margin-top:10px;
    
    
    
}

.profile-heading{
    padding:10px 0;

}
#compatability-text{
    color:#a90641;
    font-weight:bold;
}
.user-btns{
    display:inline-block;
    width:100%;
    margin:0 auto;
    
}

.recent-img{
    width:50px;
    display:inline-block;
    
}
.shout-user-img{
    width:150px;
}
.shout-username{
    font-size:small;
    display:block;
    
}
.shout{
    padding-top:50px;
    
}
.game-tags{
    list-style:none;
    
}
.game-tags li{
    display:inline;
    padding-right:5px;
}
.message-new-btn{
    padding-top:40px;
}
.msg-sender-name{
    padding-top:40px;
}
.msg-body{
    padding-top:40px;
}
.msg-send-btn{
    margin-top:20px;
    margin-bottom:20px;
}



@media screen and (max-width:650px) {
    .sign-in-button {
        display: block;
        margin: 5px 0;
        width: 100%;
    }

   .logo{
       width:60%;
       margin-left:20%;
       margin-right:10%;
   }
   .content{
       padding: 120px 0 0 0 ;
   }
    #Logo{
        display:block;
        margin:0 auto;
        width:50%
    }
    #heading{
        position:relative;
    }
    .notification{
        display:none;
    }
    
    .user-pp{
        width:50%;
        display:none;
    }
    .user-name{
        display:none;
    }
    
   
   
}

